body{
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
}

#content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 8fr;
}

header{
    grid-area: 1 / 1 / 2 / 3;
    background-color: pink;
}

#sidebar{
    height: 100vh;
    grid-area: 2 / 1 / 3 / 2;
    background-color: blanchedalmond;
}

details{
    padding: 0.5em 0.5em 0;
}

summary{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

.priority{
    background-color: red;
}

#projectsLabelMain{
    font-size: 1.5em;
    font-weight: bold;
}

li{
    list-style-type: none;
}

ul{
    padding: 0;
}

li>button{
    border: none;
    background: transparent;
    font-size: 20px;
}

details>ul>li{
    display: flex;
    gap: 10px;
}

#projectList>li{
    display: flex;
    border: solid 2px black;
}

#listContainer>ul>li{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid black;
    border-radius: 4px;
}
.done, .priority.done{
    background-color: green;
}